<form action="" method="POST">
  <input name="email" placeholder="Email">
  <input name="password" type="password" placeholder="Пароль">
  <input type="submit" value="Регистрация">
</form>

<div>
{% for message in messages %}
  {% for mitem in message %}
  <p>{{ mitem }}</p>
  {% endfor %}
{% endfor %}
</div>