body{
    font-size: 13px;
}

body > .navbar .brand {
    color: #5E5E5E;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}