body > .navbar .brand {
    color: #5E5E5E;
}

h1,h2,h3,h4{
    font-weight: normal;
}

.top-small-panel{
    height: 50px;
    background: #F04E00;
    /*position: relative; */
    border-bottom: 1px solid #FFBA8C;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.side-container{
    background: #E9E9E9;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #FCFCFC;
    height: 685px;
    padding: 10px;
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}


.modal {
    border: 2px solid rgba(209, 84, 0);
    border: 2px solid rgba(209, 84, 0, 0.8);
}
.modal form{
    margin: 0;
    padding: 0;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.2;
    filter: alpha(opacity=20);
}