
.folder-container{
    clear: both;
    padding-top: 10px;
}
.folder-container .folder, .folder-container .item{
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.folder-container .folder{
    
}
.folder-container .folder:hover, .folder-container .item:hover{
    border-color: #DDDDDD;
    background-color: #F7F7F7;
}
.folder-container.big .folder{
    height: 82px;
    width: 82px;
    float: left;
    font-size: 0;
    background-image: url(../icons/folder/generic_64.png);
}
.folder-container.middle .folder{
    height: 62px;
    width: 62px;
    float: left;
    font-size: 0;
    background-image: url(../icons/folder/generic_32.png);
}
.folder-container.list .folder{
    height: 32px;
    background-image: url(../icons/folder/generic_16.png);
    background-position: 10px 50%;
    padding-left: 36px;
    line-height: 32px;
}


.folder-container.big .item{
    height: 82px;
    width: 82px;
    float: left;
    font-size: 0;
    background-image: url(../icons/addons_64.png);
}

.navbar-inverse .nav.tabs > li > a {
    background-color: #808080;
    color: white;
    margin: 10px 3px 0 0;
    padding: 5px 10px 5px;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}
.navbar-inverse .nav.tabs > li > a:focus, .navbar-inverse .nav.tabs > li > a:hover {
    background-color: #808080;
    color: white;
}
.navbar-inverse .nav.tabs .active > a, .navbar-inverse .nav.tabs .active > a:hover, .navbar-inverse .nav.tabs .active > a:focus {
    background-color: #F04E00;
    color: white;
}