
.folder-container{
    clear: both;
    padding-top: 10px;
}
.folder-container .folder, .folder-container .item{
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.folder-container .folder{
    
}
.folder-container .folder:hover, .folder-container .item:hover{
    border-color: #DDDDDD;
    background-color: #F7F7F7;
}
.folder-container.big .folder{
    height: 82px;
    width: 82px;
    float: left;
    font-size: 0;
    background-image: url(../icons/folder/generic_64.png);
}
.folder-container.middle .folder{
    height: 62px;
    width: 62px;
    float: left;
    font-size: 0;
    background-image: url(../icons/folder/generic_32.png);
}
.folder-container.list .folder{
    height: 32px;
    background-image: url(../icons/folder/generic_16.png);
    background-position: 10px 50%;
    padding-left: 36px;
    line-height: 32px;
}


.folder-container.big .item{
    height: 82px;
    width: 82px;
    float: left;
    font-size: 0;
    background-image: url(../icons/addons_64.png);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0;
}

.navbar-inverse .nav.tabs > li > a {
    background: url(../img/tab-gray.png) repeat-x top;
    background-color: #4B4B4B;
    color: white;
    margin: 9px 3px 0 0;
    padding: 5px 10px 6px;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}
.navbar-inverse .nav.tabs > li > a:focus, .navbar-inverse .nav.tabs > li > a:hover {
    background-color: #5A5A5A;
    color: white;
}
.navbar-inverse .nav.tabs .active > a, .navbar-inverse .nav.tabs .active > a:hover, .navbar-inverse .nav.tabs .active > a:focus {
    background: url(../img/tab-orange.png) repeat-x top;
    background-color: #F04E00;
    color: white;
}


.city-box{
   color: #FFFFFF;
   padding: 6px 0 0 0; 
   margin-left: 14px !important;
   text-align: right; 
}
.city-box .city-name{
   font-size: 22px; 
}
.city-box .city-change{
    
}
.city-box .city-change a{
    color: #FFCDBD;
    font-size: 11px;
}
.city-box .city-change a:hover{
    color: #FFFFFF;
}