<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Монитор Недвижимости 1.0</a>
      <div class="nav-collapse collapse">
        <ul class="nav tabs">
          <li{% if curctr == 'home' %} class="active"{% endif %}><a href="/"><i class="icon-home icon-white"></i></a></li>
          <li{% if curctr == 'map' %} class="active"{% endif %}><a href="/map">Карта</a></li>
          <li{% if curctr == 'projects' %} class="active"{% endif %}><a href="/projects">База объявлений</a></li>
          <li{% if curctr == 'stats' %} class="active"{% endif %}><a href="/stats">Статистика</a></li>
          <li{% if curctr == 'settings' %} class="active"{% endif %}><a href="/settings">Настройки</a></li>
          <li{% if curctr == 'help' %} class="active"{% endif %}><a href="/help">Справка</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">serovvitaly@gmail.com <b class="caret"></b></a>
            <ul class="dropdown-menu super-dropdown">
              <li><a href="#">Профиль</a></li>
              <li><a href="#">Тех. поддержка</a></li>
              <li class="divider"></li>
              <li><a href="#">Выход</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>