<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">soloAppros</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li{% if curctr == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
          <li{% if curctr == 'projects' %} class="active"{% endif %}><a href="/projects">Проекты</a></li>
          <li{% if curctr == 'stats' %} class="active"{% endif %}><a href="/stats">Статистика</a></li>
          <li{% if curctr == 'settings' %} class="active"{% endif %}><a href="/settings">Настройки</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>