<div class="row">
  <div class="span6">
    <h3>За последние сутки</h3>
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Время</th>
          <th>Заголовок</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12:45</td>
          <td>3-х комнатная квартира</td>
          <td>3000000</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span6">
    <h3>Статистика</h3>
  </div>
</div>