<div class="btn-group">
  <a href="#addProjectModal" role="button" class="btn btn-danger" data-toggle="modal" style="width: 142px">Создать проект</a>
  <a href="#addFolderModal" role="button" class="btn" data-toggle="modal" title="Создать папку"><i class="icon-folder-close"></i></a>
  <button class="btn" title="Вид" onclick="loadFolders();"><i class="icon-th"></i></button>
</div>

<div class="folder-container big">
  <div class="folder" title="Имя папки">Имя папки</div>
  <div class="folder" title="Имя папки">Имя папки</div>
  <div class="folder" title="Имя папки">Имя папки</div>
  <div class="item" title="Проект рекламы совместных покупок">Имя папки</div>
</div>

<!--
<div class="folder-container big">
  <div class="folder" title="Имя папки">Имя папки</div>
  <div class="folder" title="Имя папки">Имя папки</div>
  <div class="folder" title="Имя папки">Имя папки</div>
</div>
<div class="folder-container middle">  
  <div class="folder" title="Имя папки">Имя папки</div>
  <div class="folder" title="Имя папки">Имя папки</div>
  <div class="folder" title="Имя папки">Имя папки</div>
  <div class="folder" title="Имя папки">Имя папки</div>
</div>
<div class="folder-container list">  
  <div class="folder" title="Имя папки">Имя папки</div>
</div>  -->

<!-- Modals -->
<div id="addFolderModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Новая папка</h3>
  </div>
  <div class="modal-body">
    <form action="/ajax/folder/save" method="POST">
      <input name="folder_id" type="hidden" value="0">
      <input name="folder_name" type="text" placeholder="введите имя папки..." style="width: 515px; margin: 0;">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" onclick="saveFolder(); return false;">Сохранить</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
  </div>
</div>

<div id="addProjectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Новый проект</h3>
  </div>
  <div class="modal-body">
    <input name="folder_name" type="text" placeholder="введите имя проекта..." style="width: 515px;">
    <textarea cols="1" rows="5" style="width: 515px; margin: 0;" placeholder="введите описание проекта (200 символов)..."></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Сохранить</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
  </div>
</div>
<!-- Modals -->

<script>
$(document).ready(function(){
    $('#addFolderModal form').ajaxForm({
        dataType:  'json',
        success: function(responseText, statusText, xhr, $form){
            if (!responseText.result) {
                //
            }
            loadFolders();
            $('#addFolderModal').modal('hide');
        }
    });
});
function saveFolder()
{
    $('#addFolderModal form').submit();
}
function loadFolders()
{
    solo.api('folder/save',{},{
        success: function(data){
            console.log(data);
        }
    });
}
</script>