{% extends 'base/layout.twig' %}

{% block layout %}

    <div class="row">
      <div class="span6">
        {{ content|raw }}
      </div>
      <div class="span3">
      {% block side_content %}
          {{ side_content|raw }}
      {% endblock side_content %}
      </div>
    </div>

{% endblock layout %}