{% extends 'base/layout.twig' %}

{% block layout %}

    <div class="row">
      <div class="span9">{{ content }}</div>
      <div class="span3">правая сторона</div>
    </div>

{% endblock layout %}