{% extends 'base/layout.twig' %}

{% block layout %}

    <div class="row">
      <div class="span9">{{ content }}</div>
      <div class="span3" style="margin-top: -50px;">
        <div class="side-container">
        {% block side_content %}
          {{ side_content|raw }}
        {% endblock side_content %}
        </div>
      </div>
    </div>

{% endblock layout %}