<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ title }}</title>
  
  <link rel="stylesheet" type="text/css" href="/bundles/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/bundles/bootstrap/css/docs.css">
  
  <link rel="stylesheet" type="text/css" href="/bundles/solo/css/fixed.css">
  <link rel="stylesheet" type="text/css" href="/bundles/solo/css/styles.css">
  
  <script type="text/javascript" src="/bundles/jquery/jquery-1.9.1.min.js"></script>
  
</head>
<body>

  {% include 'base/_common/topmenu.twig' %}
  
  <div class="row-fluid top-small-panel"></div>
  
  <div class="container">
  
  {% block layout %}
  {% endblock layout %}
  
  </div>
  
  <script type="text/javascript" src="/bundles/bootstrap/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="/bundles/jquery/plugins/form/jquery.form.js"></script>
  <script type="text/javascript" src="/bundles/jquery/plugins/validation/jquery.validate.js"></script>
  
  <script type="text/javascript" src="/bundles/solo/js/solo.js"></script>
  <script>
  $(document).ready(function(){
      $('.folder-container div').tooltip({placement:'bottom'});
  });
  </script>
</body>
</html>
